.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.profile__avatar {
  height: 190px;
  width: 190px;
  margin-right: 20px;
  object-fit: cover;
  border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: flex;
  justify-content: space-between;
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  max-width: 420px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.profile__description {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin: 0;
  opacity: 70%;
  max-width: 420px;
}

.profile__edit-btn {
  margin-top: auto;
  margin-right: auto;
  background-color: transparent;
  gap: 8px;
  border: none;
  opacity: 70%;
  cursor: auto;
  cursor: pointer;
}

.profile__add-btn {
  margin-left: auto;
  background-color: #212121;
  color: #fcf5e5;
  width: 149px;
  height: 49px;
  margin-top: auto;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.profile__add-btn:hover {
  opacity: 0.8;
}

.profile__edit-btn:hover {
  opacity: 1;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    min-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 0;
  }

  .profile__name {
    min-width: 288px;
    font-size: 20px;
    line-height: 1;
    margin: 0 0 6px;
  }

  .profile__column {
    font-size: 20px;
    margin: 0 0 20px;
  }

  .profile__description {
    font-size: 16px;
    margin: 0 0 32px;
  }

  .profile__avatar {
    margin: 0 0 12px;
    height: 80px;
    width: 80px;
    align-items: center;
  }

  .profile__add-btn {
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    margin: 0;
    width: 100%;
  }
  .profile__edit-btn {
    margin: auto;
    font-size: 16px;
  }
}
